// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar{
    padding-top: 0px;
}

.big-padding{
    padding: 30px;
}

.blue-grey{
    background-color: #34495e;
}

.white-text{
    color:white;
}

.table{
    background-color: white;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/docs_html/assets/css/adminlte.css';
@import '~admin-lte/docs_html/assets/css/style.css';


